@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;

  /* Allow pages to scroll */
  overflow-x: hidden;
  overflow-y: auto;
}